
.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: rgb(40, 12, 12);
  }
.navbar{
  z-index: 3000;
  max-width:100vw ;
}
  @media  screen and (max-width:637px) {

    .navbar{
      z-index: 3000 !important;
    }
  }